<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Flapper News</title>

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <script src="javascripts/lib/angular.js"></script>
    <script src="javascripts/lib/angular-ui-router.js"></script>
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/bootstrap.min.js"></script>

    <script src="javascripts/app.js"></script>
    <!-- controllers -->
    <script src="javascripts/posts/posts.controller.js"></script>
    <script src="javascripts/comments/comments.controller.js"></script>
    <script src="javascripts/auth/auth.controller.js"></script>
    <script src="javascripts/nav/nav.controller.js"></script>
    <!-- services -->
    <script src="javascripts/posts/posts.service.js"></script>
    <script src="javascripts/comments/comments.service.js"></script>
    <script src="javascripts/auth/auth.service.js"></script>
</head>
