<h2 class="posts">
    <strong>
        <a ng-show="vm.post.link" href="{{vm.post.link}}">{{vm.post.title}}</a>
        <span ng-hide="vm.post.link">{{vm.post.title}}</span>
    </strong>
</h2>

<div class="posts">
    <blockquote ng-repeat="comment in vm.post.comments | orderBy:'-upvotes'">
        <p>
            <span class="glyphicon glyphicon-thumbs-up" ng-click="vm.upvote(comment)"></span>
            {{comment.upvotes}} &nbsp; {{comment.body}}
        </p>
        <footer>by {{comment.author}}</footer>
    </blockquote>
</div>

<form class="form-group" name="addCommentForm" ng-submit="addCommentForm.$valid && vm.addComment()" novalidate>
    <h4>Add a new comment</h4>
    <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Comment" ng-model="vm.body" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
