html,
body {
    min-width: 320px;
}
.glyphicon-thumbs-up {
    cursor:pointer;
}
.posts {
    margin-bottom: 25px;
}
.posts li {
    margin-bottom: 5px;
}
.ng-submitted .ng-invalid,
.ng-touched.ng-invalid {
    border: 1px solid #a94442;
    /*box-shadow: inset 0 1px 1px rgba(0, 0 , 0, .075), 0 0 8px rgba(169, 68, 66, .6);*/
}
.ng-submitted .ng-invalid:focus,
.ng-touched.ng-invalid:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0 , 0, .075), 0 0 8px rgba(169, 68, 66, .6);
}
